.color-special{
    background-color: #f15858;
}

.bg_about-color{
    background-color: #757373;
}

.bg_gallery-color{
    background-color: #f35757;
}

.bg_bring-color{
    background-color: #eba3a3;
}